@import "tailwindcss";

html,
body {
    height: 100%;
    user-select: none;
    background-color: transparent;
    font-family: theme("fontFamily.mono");
    color: theme("colors.white");
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

#root {
    height: 100%;
}

header {
    -webkit-app-region: drag;
}

button {
    -webkit-app-region: no-drag;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 0.5rem;
    /* 8px in rem */
}

::-webkit-scrollbar-thumb {
    background-color: theme("colors.neutral.500");
    border-radius: theme("borderRadius.md");
}

::-webkit-scrollbar-track {
    background-color: transparent;
}